{% extends 'layout.html' %}

    <head>
        <title>Event Dashboard: EventoZone</title>
        <!-- All the stuff to be put in <head> tag-->
        <link rel="stylesheet" href="./dashboard.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body class="body">
        <h2 style="color: beige;">Event Dashboard</h2>
        <br><br>
        
        <div class="d-flex justify-content-center">
        <div id="login_form" class="card" style="width: 25rem; padding: 3rem; height: 20rem;">
            <center>
                <form method="post" action="eventDash" name="eventDash">
                    {% csrf_token %}
                    <label>Event-ID: </label>
                    <input type="number" name="event_id"><br><br>
                    <label>Host-Password: </label>
                    <input type="password" name="event_pw"><br><br>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </center>
        </div>
        </div><br><br>
        

        <div class="d-flex justify-content-center">
        <table border=3px>
        {% if flag == 1 %}
            <tr>
                <th>Participant-ID</th>
                <th>Contact No.</th>
                <th>E-mail ID</th>
                <th>Participation Type</th>
                <th>No. of people</th>
            </tr>
        {% endif %}
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.Contact }}</td>
                <td>{{ participant.Email }}</td>
                <td>{{ participant.Type }}</td>
                <td>{{ participant.Tickets }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
        <br><br>
        <h3><a href="index">Back to Home-page</a></h3>
    </body>