*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1f2952;
}

#particles-js{
    height: 100%;
    background: #1f2952;
}

#opening_line{
    /* background: #fff; */
    opacity: 0.9;
    /* padding: 2em; */
    /* border: #1f2952 2px solid; */
    position: absolute;
    top: 12rem;
    left: 1rem;
}

#About{
    /* border: 2px solid #1900ff; */
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(162, 168, 170);
    font-weight: bold;
    font-size: large;
    padding: 0.5rem;
    display: inline-block;
}

#About h2{
    font-size: 3em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 10px; */
    background-color: #1900ff;
    display: block;
    color: white;
    border-radius: 15px;
    filter: saturate(0);
}