<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--End Bootstrap CSS-->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../participants/partici.css">
    <link rel = "icon" href = "../images/EventoZone_tabIcon.png" type = "image/x-icon">

    <title>Participant Form: EventoZone</title>
    <script>
        function increaseValue() {
            var value = parseInt(document.getElementById('numb').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('numb').value = value;
        }

        function decreaseValue() {
            var value = parseInt(document.getElementById('numb').value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            document.getElementById('numb').value = value;
        }
    </script>
</head>

<body class="background">
    <h1 class="animate__animated animate__slideInLeft animate__slow" style="color:white; font-size: 3rem; margin-left: 4rem;">Participant Form</h1>
    <div class="container" style="width: fit-content;">

        <form method="post" action="participantReg" name="participantReg">
            {% csrf_token %}


            <div class="form-group" style="margin-top: 20px;">
                <label class="text" for="username">Full name</label>
                <input type="text" class="" name='p_name' placeholder="Full Name" id="username" rows="9">
            </div>

            <div class="form-group">
                <label class="number" for="mobile">Mobile</label>
                <input type="number" class="" name='p_contact' placeholder="Mobile no." id="mobile">
            </div>

            <div class="form-group">
                <label class="email" for="E-mail">E-mail</label>
                <input type="email" class="" name='p_email' placeholder="E-mail" id="E-mail" rows="9">
            </div>
                
            <div class="form-check form-check-inline">
                <label>Event: </label>
                {% for event in events %}
                    {% if event.status == 1 %}
                        <input type="radio" name="p_event" value={{event.id}}>
                        <label>{{ event.Name }}</label>
                    {% endif %}
                {% endfor %}
            </div>
        </br>
        </br>
            <div class="form-check form-check-inline">Registration-Type:
                </br>
                <input class="form-check-input" type="radio" name="p_type" id="inlineRadio1" value="option1"
                    checked>
                <label class="form-check-label" for="inlineRadio1">SELF</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="p_type" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">GROUP</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="p_type" id="inlineRadio3"
                    value="option3">
                <label class="form-check-label" for="inlineRadio3">Corporate</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="p_type" id="inlineRadio4"
                    value="option3">
                <label class="form-check-label" for="inlineRadio4">Others</label>
            </div>
            </br>
            </br>
            <div class="incre">No. of People
                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                <input type="number" name="p_tickets" id="numb" value="0" />
                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
            </div>
            </br>
            <button type="submit" class="btn btn-dark mt-2">SUBMIT</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>